.categorie {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  align-self: start;
}
.categorie--mg {
  margin: 0.25rem 0 2rem 0;
}
.categorie::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.categorie__item {
  padding: 3px 8px;
  border: 1px solid var(--bgGrey);
  background: var(--lightGrey);
  border-radius: 12px;
  margin-right: 1rem;
  transition: background 0.3s;
}
.categorie__item:first-child,
.categorie__item:first-child:hover {
  background: var(--mainOrange);
  color: var(--mainWhite);
}
.categorie__item:hover {
  background: var(--bgGrey);
}
.categorie__item > * {
  font-size: 14px;
  text-decoration: none;
  color: var(--textColor);
}
