.footer {
  place-self: end center;
}
.footer--pad {
  padding: 1rem 1rem 2rem;
}
.utube {
  color: var(--maintextColor);
  transition: color 0.3s;
}
.utube:hover {
  color: var(--coralRed);
}
