.header,
.search__btn,
.nav__menu {
  display: grid;
}

.header {
  position: relative;
  height: 4rem;
  grid-column: 1 / -1;
  background: var(--mainWhite);
  box-shadow: 0 3px 5px var(--middleGrey);
  grid-template-columns: max-content 1fr max-content;
  gap: 1rem;
  z-index: 20;
}
.header--pad {
  padding: 1rem;
}

.navBrand,
.search,
.nav {
  display: flex;
  align-items: flex-start;
}
.navBrand > * {
  font-size: clamp(1.5rem, 1.8rem, 2vw);
  color: var(--mainOrange);
  margin-right: 0.8rem;
  transition: color .3s;
}
.navBrand:hover > * {
  color: var(--coralRed);
}
.navBrand__name {
  font-weight: 600;
  cursor: pointer;
}

.search {
  position: relative;
  width: min(400px, 100%);
  justify-content: space-between;
  align-items: center;
  place-self: center;
}
.search__field {
  width: calc(100% - 1.2rem);
  height: 1.8rem;
  padding: 0.3rem 1rem;
  border: 1px solid var(--bgGrey);
  border-radius: 3px;
}
.search__field::placeholder {
  color: var(--darkGrey);
}
.search__field:focus {
  border-color: var(--primaryBlue);
}
.search__btn {
  position: absolute;
  width: 1.5rem;
  height: calc(1.8rem - 2px);
  place-items: center;
  background: var(--lightGrey);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  right: 1.3rem;
  cursor: pointer;
  transition: background 0.3s;
}
.search__btn:hover {
  background: var(--bgGrey);
}
.search__btn > i {
  font-size: 0.8rem;
}
.header-icon {
  font-size: 1.2rem;
  color: var(--middleGrey);
  transition: color 0.3s;
  cursor: pointer;
}
.header-icon:hover {
  color: var(--darkGrey);
}
.nav {
  margin-left: auto;
  align-items: center;
}
.nav__menu {
  margin-left: 1rem;
  width: 30px;
  height: 30px;
  place-items: center;
  border-radius: 50%;
  background: var(--mainOrange);
  cursor: pointer;
  transition: background .3s;
}
.nav__menu:hover {
  background: var(--coralRed);
}
.menu__icon {
  color: var(--textColor);
  font-size: 0.8rem;
}
.menu-list {
  position: absolute;
  top: 48px;
  right: 1rem;
  display: none;
  list-style: none;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--middleGrey);
  background: var(--mainWhite);
  color: var(--textColor);
  z-index: 10;
  transition: all 3s;
}
.menu-list__item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--middleGrey);
  cursor: pointer;
  transition: background 0.3s;
}

.menu-list__item:last-child {
  border-bottom: none;
  color: var(--coralRed);
}
.menu-list__item:hover {
  background: var(--bgGrey);
  border-color: var(--bgGrey);
}
.menu-list__title {
  margin-left: 0.5rem;
}
.nav__menu:hover .menu-list {
  display: block;
}

@media (max-width: 500px) {
  .header {
    grid-template-columns: 2fr 1fr;
  }
  .search {
    display: none;
  }
}
