.infoBlock__wrapper {
  border-top: 1px solid var(--mainWhite);
  padding: 1rem 0 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.infoBlock {
  text-align: center;
  width: calc(100% - 2rem);
  height: 120px;
  display: grid;
  place-items: center;
  background: var(--bgGrey);
  border-radius: 5px;
}
.infoBlock--pad {
  padding: 1rem;
}

.infoBlock__title {
  letter-spacing: 0.03rem;
  margin-bottom: 0.5rem;
}
.text-selection::selection {
  background: var(--mainOrange);
  color: var(--mainWhite);
}
.infoBlock__scl > * {
  font-size: 1.5rem;
  color: var(--textColor);
  margin: 0.5rem 0.8rem;
  cursor: pointer;
  transition: color 0.3s;
}
.infoBlock__scl > *:hover {
  color: var(--primaryBlue);
}

@media (max-width: 1200px) {
  .infoBlock__wrapper {
    display: none;
  }
}
