*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  outline-offset: none;
}
html {
  font-family: var(--fontFamily);
  color: var(--maintextColor);
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul[class] {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--middleGrey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bgGrey);
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}
