@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");

:root {
  --mainOrange: #f4a261;
  --mainWhite: #fff;
  --maintextColor: #264653;
  --mainTurquoise: #2a9d8f;
  --coralRed: #e76f51;
  --shadowRed: rgba(249, 65, 68, 7);
  --bgGrey: #cce3de;
  --lightGrey: #eaf4f4;
  --middleGrey: #9caea9;
  --darkGrey: #788585;
  --primaryBlue: #0288d1;
  --fontFamily: "Source Code Pro", monospace;
}
