.sidebar {
  width: 300px;
  height: calc(100vh - 4rem);
  background: var(--lightGrey);
  display: flex;
  flex-direction: column;
}
.sidebar--pad {
  padding: 1rem 0 2rem;
}
.list {
  height: 60vh;
  overflow-y: hidden;
}
.list-item {
  width: 296px;
  padding: 1rem;
  transition: background 0.3s;
  cursor: pointer;
}
.list:hover {
  overflow-y: scroll;
}
.list-item:hover {
  background: var(--bgGrey);
}

.list-item,
.list-item__stats {
  display: flex;
  align-items: center;
}
.list-item__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--mainWhite);
  overflow: hidden;
}

.list-item__username {
  width: 120px;
  font-weight: 600;
  overflow: hidden;
  margin-left: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.3s;
}
.list-item:hover .list-item__username {
  color: var(--primaryBlue);
}
.list-item__stats {
  margin-left: auto;
}
.list-item__status {
  width: 10px;
  height: 10px;
  background: var(--coralRed);
  border-radius: 50%;

  animation: pulse 2s infinite;
}
.list-item__followers {
  margin-left: 0.3rem;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--shadowRed);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(38, 70, 83, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(38, 70, 83, 0);
  }
}

@media (max-width: 1200px) {
  .sidebar {
    width: calc(40px + 2.25rem);
  }
  .list-item__stats,
  .list-item__username {
    display: none;
  }
  .list-item {
    width: max-content;
  }
}
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
