.slider {
  position: relative;
  width: min(1100px, 100%);
  height: 50vh;
  background: var(--lightGrey);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 10px var(--middleGrey);
  transition: height 0.3s;
  place-self: center;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}
.slide__preview {
  position: relative;
  width: min(900px, 90%);
  height: 100%;
  background: var(--middleGrey);
}
.slide__preview:hover > .overlay {
  opacity: 1;
}
.slide__desc {
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  background: var(--lightGrey);
}
.slide__desc > .video-holder > p {
  width: 90px;
}

.video-holder__subTitle {
  position: absolute;
  width: 70%;
  top: 4rem;
  font-size: 14px;
  color: var(--darkGrey);
}

input[type="radio"] {
  display: none;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}
.prev {
  left: 1rem;
}
.next {
  right: 1rem;
}
label > i {
  font-size: 1.5rem;
  color: var(--mainOrange);
  transition: all 0.3s;
}
label > i:hover {
  color: var(--coralRed);
}

#sl1:checked ~ #slide1,
#sl2:checked ~ #slide2,
#sl3:checked ~ #slide3 {
  z-index: 10;
  animation: sliding 1s ease-in-out;
}

@keyframes sliding {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .slider {
    height: 40vh;
  }
}
@media (max-width: 600px) {
  .slider {
    height: 35vh;
  }
  .slide__desc {
    padding: 1rem;
    flex-direction: column;
  }
  .slide__desc > .video-holder > p {
    margin: 0.3rem 0;
  }
  .video-holder__subTitle {
    top: 6rem;
  }
  .next,
  .prev {
    top: 27vh;
  }
}

