.main {
  grid-column: 2 / -1;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  display: grid;
  row-gap: 2rem;
}
.main--pad {
  padding: 2rem 1rem 2rem 0;
}
.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(300px - 2rem), 1fr));
  gap: 1rem;
}
.overlay {
  position: absolute;
  display: grid;
  place-items: center;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
}
.overlay > i {
  font-size: 1.7rem;
  color: var(--mainWhite);
  transition: transform 0.3s;
}
.overlay > i:hover {
  transform: scale(1.2) rotate(15deg);
}
.overlay > i,
.video-stats,
.video-status,
.video-holder__menu,
.video-holder__title,
.video-holder__name {
  cursor: pointer;
}
.video-container__img {
  position: relative;
  height: 200px;
  background: var(--lightGrey);
  transition: height 0.3s;
}
.video-container__img:hover .overlay {
  opacity: 1;
}
.video-container__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-container__desc {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 0;
  background: var(--mainWhite);
}
.video-container__avatar {
  width: 30px;
  height: 30px;
  background: var(--lightGrey);
  border-radius: 50%;
  overflow: hidden;
}

.video-holder__title {
  width: 220px;
  overflow: hidden;
  font-weight: 600;
  margin-left: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.video-holder__name {
  font-size: 14px;
  color: var(--middleGrey);
  margin-left: 1rem;
}
.video-holder__menu {
  margin-left: auto;
  padding: 0.2rem 0;
}
.video-holder__title,
.video-holder__name {
  transition: color 0.3s;
}
.video-holder__title:hover {
  color: var(--coralRed);
}
.video-holder__name:hover {
  color: var(--primaryBlue);
}
.video-stats,
.video-status {
  position: absolute;
  font-size: 12px;
  color: var(--mainWhite);
  border-radius: 4px;
}
.video-status {
  background: red;

  top: 5px;
  left: 5px;
  text-transform: uppercase;
}
.video-stats {
  background: rgba(0, 0, 0, 0.5);
  bottom: 5px;
  right: 5px;
}
.video-label--pad {
  padding: 4px 8px;
}

@media (max-width: 600px) {
  .main {
    grid-column: 1 / -1;
  }
  .main--pad {
    padding-left: 1rem;
  }
 
}
